binds {
    // Hotkeys
    Mod+Return repeat=false { spawn "ghostty"; }

    // Focus
    Mod+H { focus-column-left-or-last;   }
    Mod+L { focus-column-right-or-first; }
    Mod+K { focus-window-up-or-bottom;   }
    Mod+J { focus-window-down-or-top;    }
    Mod+U { focus-workspace-up;   }
    Mod+I { focus-workspace-down; }

    // Move
    Mod+Ctrl+H { move-column-left;  }
    Mod+Ctrl+L { move-column-right; }
    Mod+Ctrl+K { move-window-up;    }
    Mod+Ctrl+J { move-window-down;  }
    Mod+Ctrl+U { move-workspace-up;   }
    Mod+Ctrl+I { move-workspace-down; }

    // Resize
    Mod+Shift+H { set-window-width "-10%";  }
    Mod+Shift+L { set-window-width "+10%";  }
    Mod+Shift+K { set-window-height "-10%"; }
    Mod+Shift+J { set-window-height "+10%"; }
    Mod+backslash    repeat=false { expand-column-to-available-width; }
    Mod+BracketLeft  repeat=false { set-window-width "50%";  }
    Mod+BracketRight repeat=false { set-window-width "100%"; }
    Mod+Semicolon    repeat=false { maximize-window-to-edges; }
    Mod+Apostrophe   repeat=false { fullscreen-window;        }

    // Window Management
    Mod+Tab    repeat=false { toggle-overview; }
    Mod+Escape repeat=false { close-window; }
    Mod+Comma  repeat=false { toggle-window-floating; }
    Mod+Period repeat=false { switch-focus-between-floating-and-tiling; }
    Mod+C      repeat=false { center-visible-columns; }
    Mod+T      repeat=false { toggle-column-tabbed-display; }

    // Noctalia
    Mod+X repeat=false { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Y repeat=false { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Ctrl+Alt+Delete repeat=false { spawn-sh "noctalia msg panel-toggle session"; }

    // Screenshots
         Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
     Alt+Print { screenshot-window; }
}
