window-rule {
    open-focused true
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match is-active=false is-window-cast-target=false
    opacity 0.875
}

window-rule {
    match app-id=r#"^com\.mitchellh\.ghostty$"#
    default-column-width { proportion 0.5; }
    default-window-height { proportion 1.0; }
    opacity 0.875
}

window-rule {
    match app-id=r#"^firefox"#
    default-column-width { proportion 0.5; }
    default-window-height { proportion 1.0; }
}

window-rule {
    match app-id=r#"^QQ$"#
    match app-id=r#"^wechat$"#
    open-on-workspace "chat"
}

window-rule {
    match app-id=r#"^steam$"#
    match app-id=r#"^gamescope$"#
    open-on-workspace "game"
}
